<form>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <img class="mb-4" src="../image/logo.png" alt="" width="320" height="200">

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <div>
        <input type="text" ng-model="usuario.login" placeholder="Login address">
        <div class="checkbox mb-3"></div>
        <input type="text" ng-model="usuario.senha" placeholder="Password">
    </div>
    
    <div class="checkbox mb-3"></div>

    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="acessar()">Sign in</button>
    <a class="bt-new" href="#!/usuarios">Sing up</a>

    <div class="checkbox mb-3"></div>

    <p class="mt-5 mb-3 text-muted">© 2018-2019</p>
</form>